[*.cs]
resharper_member_can_be_private_global_highlighting = none
resharper_unused_member_global_highlighting = none
resharper_use_string_interpolation_highlighting = none
resharper_class_never_instantiated_global_highlighting = none
resharper_invert_if_highlighting = none
resharper_unused_auto_property_accessor_global_highlighting = none
resharper_unused_member_in_super_global_highlighting = none
resharper_unused_member_local_highlighting = none
resharper_auto_property_can_be_made_get_only_local_highlighting = none
resharper_redundant_empty_object_creation_argument_list_highlighting = none
resharper_virtual_member_never_overridden_global_highlighting = none
resharper_not_accessed_field_global_highlighting = none
resharper_auto_property_can_be_made_get_only_global_highlighting = none
resharper_unused_method_return_value_global_highlighting = none
resharper_out_parameter_value_is_always_discarded_global_highlighting = none
resharper_event_never_subscribed_to_global_highlighting = none
resharper_unused_type_global_highlighting = none
resharper_unused_parameter_global_highlighting = none
resharper_built_in_type_reference_style_highlighting = none
resharper_unused_parameter_local_highlighting = none
resharper_redundant_argument_default_value_highlighting = none