[*.cs]
resharper_member_can_be_private_global_highlighting = none
resharper_unused_member_global_highlighting = none
resharper_use_string_interpolation_highlighting = none
resharper_class_never_instantiated_global_highlighting = none
resharper_invert_if_highlighting = none
resharper_unused_auto_property_accessor_global_highlighting = none
resharper_unused_member_in_super_global_highlighting = none
resharper_unused_member_local_highlighting = none
resharper_auto_property_can_be_made_get_only_local_highlighting = none
